
.trs-body-landing{
  background-color: #0f0f0f;
  // .trs-wrapper{
  //   max-width: 1900px;
  //   margin: 0 auto;
  // }
  header{
    display: flex;
    justify-content: center;
    background-color: #0f0f0f;
    padding: 2rem;
    .logo-header{
      width: 200px;
      img{
        width: 100%;
      }
    }
  }
  .trs-hero{
    text-align: center;
    h2{
      font-size: 2rem;
    }
    p{
      width: 90%;
      text-align: center;
      margin: 0 auto;
    }
  }
}
.trs-action-button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover{
    border: 1px solid white;
  }
  &.active{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.311);
    animation: fadeInFromNone 0.5s ease-out;
    border: 1px solid white;
  }
}
@keyframes fadeInFromNone {
  0% {
      opacity: 0;
  }

  1% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
.trs-wrapper-popup{
  position: absolute;
  width: 100%;
  height:auto;
  background-color: #0c0c0c;
  top: 0;
  left: 0;
  z-index: 33;
  padding-bottom: 60px;
}
.trs-action-button{
  &.disabled{
    pointer-events: none;
  }
}
.trs-bg-image{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
}