h2{
  text-align: center;
}
.in__start_nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  button{
    background-color: #ebba7b;
    border: 0;
    padding: 11px;
    border-radius: 4px;
    cursor: pointer;
  }
}
.in__box{
  button{
    position: absolute;
    top:10px;
    left: 10px;
    background-color: #d5d5d5;
    border: 0;
    padding: 11px;
    border-radius: 4px;
    cursor: pointer;
  }
  h3{
    text-align: center;
  }
}
.list{
  color: black;
  cursor: pointer;
  padding: 20px 10px;
  list-style: none;
  background-color: antiquewhite;
  text-align: center;
  border-bottom: 1px solid hsl(11deg 80% 38% / 24%);
  transition: all ease 500ms;
  &:hover{
    background-color: #f1d0a2;
    transition: all ease 500ms;
  }
  &:first-child{
    border-top: 1px solid hsl(11deg 80% 38% / 24%);
  }
  &.active{
    background-color: rgb(247, 212, 167);
    color: rgb(177 99 0)
  }
}
.papas{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  border-radius: 10px;
}
.in__controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  button{
    background-color: #ebba7b;
    border: 0;
    padding: 11px;
    border-radius: 4px;
    cursor: pointer;
  }
}
.in__item{
  background-color: #f7cf9a;
  span{
    display: block;
    width: 100%;
    padding: 5px 15px;
    &:after{
      content: attr(data-nacio);
      margin-left: 10px;
      font-style: italic;
      color: #7b674c;
    }
  }
}
.in__resumen{
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  > div{
    position: relative;
    margin-bottom: 8px;
    padding: 10px;
    background: #f0f0f0;
  }
  button{
    position: absolute;
    top:0;
    right: 0;
  }
  span{
    display: block;
    text-align: center;
  }
}
.total{
  display: block;
  text-align: center;
}